.jumbotron {background-image:linear-gradient(-90deg, red, #00d0ff)}
.display-4, .gameMessage {color: white;}

.gameMessage {font-weight: 100;}

.player-card {float: left; border: 0;}
.computer-card {float: right; border: 0;}

.card-body {padding: 0;}

.score-card-body, .scoreboard-body {
    display: flex;
    justify-content: center;
}

.round-number {
    padding-left: 5px;
}

.score-number {
    padding: 0 15px;
    font-size: 6em;
}

.score-dash {
    display: flex;
    align-items: center;
    font-size: 4em;
}

/* buttons */
button#rock{background-color:#2ea8ff; border-color: #2ea8ff; }
button#scissors{background-color:#db3030 !important; border-color: #db3030 !important; }



